body {
	background-color: #E8E8E8;
}

.feed-container {

}

.subBar {
	background-color: #111111;
	height: 2em;
}

.categoryName {
  	padding: 0.5em 0 0 15px;
}

.date {
  	padding: 0.5em 15px 0 0;
}
footer {
	background-color: #111111;
	text-align: center;
	height: 2em;
	margin-top: 1em;
}

footer a, .subBar li{
	color: white;
	font-weight: bold;
  	font-size: 0.8125em; 
}

footer a:hover{
	color: white;
}

.black-background {
	background-color: #111111;
}

h1 a {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

.top-nav {
	float: right;
	margin: 0.2em;
	padding: 0.5em;
}

.bottom-nav {
	text-align: center;
}

.first-video-item {
	margin: 1em 1em;
	background-color: white;
}

.video-item{
	border-bottom: 1px dotted #111111;
	margin: 1em 1em;
}

/* .video-item:last-child {
	border: none;
} */

.video-thumb img{
/*	max-height: 9.5em;
*/	width: 14em;
	height: auto;
	margin-top: .5em;
}

/* Mobile & Wide Mobile Layout
 */
 @media only screen and (max-width: 767px) {
	h1 a{
		font-size: 1.5em;
	}

	h2 {
		font-size: 0.8em;
	}

	h3 {
		font-size: 0.8em;
	}

	p {
		font-size: 0.7em;
	}

	footer {
		height: 2em;
	}

	.video-thumb img{
/*		max-height: 4.5em;
*/		width: 7em;
		height: auto;
	}

	.first-video-item {
		margin: 0.2em 0;
	}

	.video-item {
		border-bottom: 1px dotted #111111;
		margin: 0.2em 0;
	}

	.top-nav {
		float: right;
		margin: 0.2em;
		/*border-left: 1px dotted #fff;*/
		padding: 0.1em;
	}

	.feedback-form label, p{
		font-size: 0.7em;
	}
}

li {
	list-style-type: none;
}

