body {


}

form {

}

.black-background {
	background-color: #000;
}

h1 {
	color: white;
}

h2 {
	font-size: 1.5rem;
}

.top-nav {
	float: right;
	margin: 0.2rem;
	padding: 0.5rem;
}

.bottom-nav {
	text-align: center;
}

.video-item {
/*	height: 10rem;
*/	border-bottom: 1px dotted #000;
	margin: 1rem 1rem;
}

/* .video-item:last-child {
	border: none;
} */

.video-thumb img{
	max-height: 9.5rem;
	margin-top: .5rem;
/*	position: absolute;
	top: 50%;*/
}

/* Mobile & Wide Mobile Layout
 */
 @media only screen and (max-width: 767px) {
	h1 {
		font-size: 1.25rem;
	}

	h2 {
		font-size: 0.7rem;
	}

	h3 {
		font-size: 0.7rem;
	}

	p {
		font-size: 0.5rem;
	}

	.video-thumb img{
		max-height: 4.5rem;
	}

	.video-item {
/*		height: 5rem;
*/		border-bottom: 1px dotted #000;
		margin: 0.2rem 0;
	}

	.top-nav {
		float: right;
		margin: 0.2rem;
		/*border-left: 1px dotted #fff;*/
		padding: 0.1rem;
	}

	.feedback-form {
		font-size: 0.6rem;
	}
}


